* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.SVGcontainer {
  width: 100%;
  max-width: 920px;
}

#circularSliderRoot {
  width: 100%;
  height: 100%;
  touch-action: none;
}

#circularSliderRoot circle {
  fill: none;
  stroke-width: 10px;
  overflow: visible;
}

#circularSliderRoot circle.small-circle {
  fill: #fff;
  stroke: #cfcfd0;
  stroke-width: 1px;
  cursor: pointer;
}

#circularSliderRoot .invisible-layer {
  cursor: pointer;
}

#circularSliderRoot .dashed-circle {
  stroke: #d0d0d0;
}

#circularSliderRoot .circle-path {
  stroke-opacity: 0.8;
}
