#circularSliderRoot circle {
  fill: none;
  stroke-width: 10px;
  overflow: visible;
}

#circularSliderRoot circle.small-circle {
  fill: #fff;
  stroke: #cfcfd0;
  stroke-width: 1px;
  cursor: pointer;
}

#circularSliderRoot .invisible-layer {
  cursor: pointer;
}

#circularSliderRoot .dashed-circle {
  stroke: #d0d0d0;
}

#circularSliderRoot .circle-path {
  stroke-opacity: 0.8;
}
